body {
  padding: 1%;
  background: rgba(189, 255, 255, 0.2);
  font-family: "Ubuntu", sans-serif;
}

header > .background {
  background: rgb(0, 132, 255) url("../img/pattern.png") repeat;
  background-size: contain;
  height: 100px;
  border: 2px solid black;
}

header .logo {
  background: url("../img/logo.svg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
  text-decoration: underline;
}

header .written-by {
  margin-bottom: 20px;
  display: inline-block;
  padding-right: 20px;
}
.written-by > .span-grey {
  color: grey;
}

.written-by > #span-azure {
  color: rgb(7, 154, 252);
}

section > .tim-photos {
  width: 100%;
  position: relative;
}

.tim-photos > .photo {
  display: inline-block;
}

.tim-photos > .two.photo {
  position: absolute;
  right: 0;
}

.tim-photos .description {
  margin-top: 10px;
  font-size: 10px;
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
}

p > .span-yellow {
  background: yellow;
}

section ul {
  padding-left: 16px;
}

section table {
  border-spacing: 0px;
  border: 2px solid black;
  padding: 2px;
}

table .table-head {
  background: rgb(9, 104, 182);
  color: white;
  width: 100%;
}

.row.three {
  width: 40%;
}

.row.colored {
  background: rgb(113, 184, 243);
}

footer {
  padding: 20px;
}

.container-footer {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  background: rgb(113, 184, 243);
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1%;
}

footer h5 {
  text-decoration: underline;
}

footer .img-footer-one,
.img-footer-two {
  display: inline-block;
  background-size: contain;
  height: 150px;
  width: 40%;
  position: relative;
  border: 2px solid black;
  border-radius: 1%;
}

footer .img-footer-one {
  background: url("../img/monitor.jpg") no-repeat;
}

footer .img-footer-two {
  background: url("../img/graph.jpg") no-repeat;
}

footer .lorem-footer {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
  padding: 2%;
  border: 2px solid white;
  border-radius: 1%;
}

footer .love {
  float: right;
}
