.background {
  background: rgb(0, 132, 255) url("../img/pattern.png") repeat;
  background-size: contain;
  height: 100px;
}

.logo {
  background: url("../img/logo.svg") no-repeat bottom;
  background-size: contain;
  height: 100%;
  width: 15%;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

.written-by {
  margin-bottom: 20px;
  width: 15%;
}

.span-grey {
  color: grey;
}

#span-azure {
  color: rgb(7, 154, 252);
}


.span-yellow {
  background: yellow;
}

.photo-description {
  font-size: 10px;
}

ul {
  padding-left: 16px;
}

table {
  border-spacing: 0px;
}

.table-head {
  background: rgb(9, 104, 182);
  color: white;
}

.column-one {
  width: 25%;
}

.column-two {
  width: 25%;
}

.column-three {
  width: 40%;
}

.row-colored {
  background: rgb(113, 184, 243);
}

footer {
  color: grey;
}

.img-footer-one {
  background: url("../img/monitor.jpg") no-repeat;
  background-size: contain;
  height: 150px;
}

.img-footer-two {
  background: url("../img/graph.jpg") no-repeat;
  background-size: contain;
  height: 150px;
}

.lorem-footer {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}
